@page
@model Project_PRN.Pages.AssetStatus.DeleteModel

@{
    var profile = Model.userProfile;
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/Settings.css" />
<link rel="stylesheet" href="~/css/CRUD.css" />

<header class="sticky-header">
    <div id="navbar">
        <a href="/Asset">Home</a>
        <a href="">Transactions</a>
        <a href="/Setting">Settings</a>
        <div id="user-info" style="float: right;">
            <a asp-page="/User/Details" asp-route-id="@profile.Id">
                @Html.DisplayFor(model => model.userProfile.Email)
            </a>
        </div>
    </div>
</header>

<div>
    <h3 class="create-object-text">Are you sure you want to delete this?</h3>
    <hr />
    <dl class="row create-form-asset">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssetStatus.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssetStatus.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssetStatus.AvailableToUse)
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.AssetStatus.AvailableToUse == 1)
                {
                    <input type="checkbox" checked onclick="return false;">
                }
                else
                {
                    <input type="checkbox" onclick="return false;">

                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssetStatus.Active)
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.AssetStatus.Active == 1)
                {
                    <input type="checkbox" checked onclick="return false;">
                }
                else
                {
                    <input type="checkbox" onclick="return false;">

                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssetStatus.CurrentlyInUse)
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.AssetStatus.CurrentlyInUse == 1)
                {
                    <input type="checkbox" checked onclick="return false;">
                }
                else
                {
                    <input type="checkbox" onclick="return false;">

                }
            }
        </dd>
    </dl>
    
    <form method="post" class="user-action">
        <input type="hidden" asp-for="AssetStatus.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="/Setting/Statuses">Back to List</a>
    </form>
</div>
