@page
@model Project_PRN.Pages.Asset.IndexModel
@{
    var profile = Model.userProfile;
    Layout = "_Layout";
    var i = 1;
}
    <link rel="stylesheet" href="~/css/Settings.css" />
    <link rel="stylesheet" href="~/css/Asset.css" />

    <header class="sticky-header">
        <div id="navbar">
            <a href="/Asset">Home</a>
            <a href="/AssetTransaction">Transactions</a>
        @{
            if(profile.UserCode.ToLower().Trim() == "admin")
            {
                <a href="/Setting">Settings</a>
            }
        }
            <div id="user-info" style="float: right;">
            <a asp-page="/User/Details" asp-route-id="@profile.Id">
                @Html.DisplayFor(model => model.userProfile.Email)
                </a>
            </div>
        </div>
    </header>

@{
    
    if (Model.Asset.Count == 0)
    {
        <div class="empty-state">
            <div>No asset found. 
                @{
                    if (profile.UserCode.ToLower().Trim() == "admin")
                    {
                    <div>Please <a href="/Asset/Create">Create</a> a new one</div>
                    }
            }
            </div>
        </div>

    }
    else
    {
        if (profile.UserCode.ToLower().Trim() == "admin")
        {
            <a href="/Asset/Create" class="create-new-btn">Create new Asset</a>
        }

        <div class="table-content">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Asset[0].Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Asset[0].Code)
                        </th>
                        <th style="width: 250px;">
                            Created Date
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Asset[0].Assignee)
                        </th>
                        <th>
                            Created By
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Asset[0].Location)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Asset[0].Status)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Asset)
                    {
                        <tr>
                            <td>@(i++)</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @((item.Code == null) ? "---" : item.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AcquisitionDate)
                            </td>
                            <td>
                                @((item.Assignee == null) ? "---" : item.Assignee.Username)
                            </td>
                            <td>
                                @((item.CreateByUserNavigation == null) ? "---" : item.CreateByUserNavigation.Username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location.Name)
                            </td>
                            <td>
                                @((item.Status != null) ? item.Status.Name : "---")
                            </td>
                            <td>
                                @{
                                    if (profile.UserCode.ToLower().Trim() == "admin")
                                    {
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                Action
                                            </button>
                                            <ul class="dropdown-menu">
                                                @{
                                                    if (item.StatusId != 1 && item.StatusId != null)
                                                    {
                                                        <li><a class="dropdown-item" asp-page="./Edit" asp-route-id="@item.Id">Edit</a></li>
                                                        <li><a class="dropdown-item" asp-page="./Details" asp-route-id="@item.Id">Details</a></li>
                                                         if (item.AssigneeId == null || item.AssigneeId == 0)
                                                         {
                                                            <li><a class="dropdown-item" asp-page="./Assign" asp-route-id="@item.Id">Assign To Employee</a></li>
                                                            <li><a class="dropdown-item" asp-page="./Dispose" asp-route-id="@item.Id">Dispose</a></li>
                                                        } else if (item.AssigneeId != 0)
                                                        {
                                                            <li><a class="dropdown-item" asp-page="./Return" asp-route-id="@item.Id">Return From Employee</a></li>
                                                        }
                                                        <li><a class="dropdown-item" asp-page="./Delete" asp-route-id="@item.Id">Delete</a></li>
                                                    }
                                                    else
                                                    {
                                                        <li><a class="dropdown-item" asp-page="./Details" asp-route-id="@item.Id">Details</a></li>
                                                        <li><a class="dropdown-item" asp-page="./Delete" asp-route-id="@item.Id">Delete</a></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    } else
                                    {
                                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                                    }

                                }
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}

