@page
@model Project_PRN.Pages.Setting.UsersModel
@{
    var profile = Model.userProfile;
    Layout = "_Layout";
    var i = 1;
}
<link rel="stylesheet" href="~/css/Settings.css" />

<header class="sticky-header">
    <div id="navbar">
        <a href="/Asset">Home</a>
        <a href="/AssetTransaction">Transactions</a>
        <a href="/Setting">Settings</a>
        <div id="user-info" style="float: right;">
            <a asp-page="/User/Details" asp-route-id="@profile.Id">
                @Html.DisplayFor(model => model.userProfile.Email)
            </a>
        </div>
    </div>
</header>
<div class="left-tab" style="height: 100%;">
    <div class="tab" style="height: 100%;">
        <button class="tablinks" onclick="location.href='/Setting/Index'" id="defaultOpen" href="/Login">Locations</button>
        <button class="tablinks" onclick="location.href='/Setting/Statuses'">Statuses</button>
        <button class="tablinks" onclick="location.href='/Setting/Vendors'">Vendors</button>
        <button class="tablinks" onclick="location.href='/Setting/Types'">Types</button>
        <button class="tablinks" onclick="location.href='/Setting/Users'">Users</button>
    </div>
</div>


@if (Model.User.Count == 0)
{
    <div class="empty-state right-tab">
        <div>No type found. Please <a href="/AssetType/Create">Create</a> a new one</div>
    </div>

}
else
{
    <div class="right-tab">
        <a href="/User/Create" class="create-new-btn">Create new User</a>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User[0].Username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User[0].UserCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User[0].Email)
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Detail
                    </th>
                    <th>
                        Delete
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.User)
                {
                    <tr>
                        <td>
                            @(i++)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <a asp-page="/User/Edit" asp-route-id="@item.Id">Edit</a>
                        </td>
                        <td>
                            <a asp-page="/User/Details" asp-route-id="@item.Id">Details</a>
                        </td>
                        <td>
                            <a asp-page="/User/Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}