@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project_PRN</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project_PRN.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/LogIn.css" />
</head>
<body>

    <main>
        <div class="row">
            <div class="colm-logo">
                <div class="asset-image">
                    <img src="https://cdn.vietnambiz.vn/2019/9/5/d-15676531294462117799320.png" alt="Logo">
                </div>
                <h2>"Asset Management System" helps you managing in detail of Asset that have been purchased and invested.</h2>
            </div>
            <div class="colm-form">
                <div class="success-message">
                    @ViewData["Success"]
                </div>
                <form method="post">
                    <div class="form-container">
                        <div class="col-2">
                            <label asp-for="@Model.Username"></label>
                        </div>
                        <input type="text" name="username" placeholder="Email address or phone number" value="@ViewData["username"]">
                        <div class="col-2">
                            <label asp-for="@Model.Password"></label>
                        </div>
                        <input type="password" name="password" placeholder="Password">
                        <div class="error-message">
                            @ViewData["Msg"]
                        </div>
                        <button class="btn-login">Login</button>
                        <a href="/Forgot">Forgotten password?</a>
                        <a href="/Register" class="button-3">Create new Account</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-contents">
            <ol>
                <li>English (UK)</li>
                <li><a href="#">മലയാളം</a></li>
                <li><a href="#">தமிழ்</a></li>
                <li><a href="#">తెలుగు</a></li>
                <li><a href="#">বাংলা</a></li>
                <li><a href="#">اردو</a></li>
                <li><a href="#">हिन्दी</a></li>
                <li><a href="#">ಕನ್ನಡ</a></li>
                <li><a href="#">Español</a></li>
                <li><a href="#">Português (Brasil)</a></li>
                <li><a href="#">Français (France)</a></li>
                <li><button>+</button></li>
            </ol>
            <small>Asset Management © 2023, Made by Phan Tuan Viet</small>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>